[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torchvision = "==0.5.0"
matplotlib = "*"
scipy = "*"
ipykernel = "*"
torch = "==1.4.0"
numba = "*"
tqdm = "*"
cython = "*"
numpy = "*"
onnx = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3"
# gurobipy is required, but not available via pipenv. Use:
# https://www.gurobi.com/documentation/8.1/quickstart_mac/the_gurobi_python_interfac.html
